# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

    *
    'hello'
    -87.8
    -
    /
    +
    6

In [ ]:
values are:
    'hello',-87.8,6
mathematical operators are:
    *,-,/,+

# 2. What is the difference between string and variable?

In [ ]:
A variable is a name given to a memory location. It is the basic unit of storage in a program.Variables can store data of different types
such as int,float,complex,string etc.
Example var1 = 37, var2 = 13,5, var3 = 'python'

Strings in python are surrounded by either single quotation marks, or double quotation marks.
String is a type of information you would store in a Variable. A String is usually Text
Example Strvar ="Welcome to Python world" Strvar is the Variable, and we declared it as a String.

# 3. Describe three different data types.

In [ ]:
Integers – This value is represented by int class. It contains positive or negative whole numbers (without fraction or decimal). In Python there is no limit to how long an integer value can be.
Example var1 = 37

Float – This value is represented by float class. It is a real number with floating point representation. It is specified by a decimal point. Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation.
Example var1 = 37.89

String-A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.
Example var1 = "computer"

# 4. What is an expression made up of? What do all expressions do?

In [ ]:
An Expression is a combination of variables and operators. There expressions perform operation of variable based on 
the operators and evaluates the values to a single variable.

In [7]:
#variables
x = 40
y = 12

#Expressions
add = x + y
  
print(f"{x}+{y}={add}")

40+12=52

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

The assignemnt statemets assign a value to the variable.
An Expression is a sequence or combination of values, variables, operators and function calls that always produces or returns a result value.
- in spam = 10 , value 10 in assigned to spam, and now spam will have value 10 as integer data type.
- But in expression sum = num1+num2, the value of a depends on the value of num1 and num2.

# 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

After running the code bacon value will be 22
becon + 1 is not reassigned to becon again like, becon= becon + 1. So the value of becon is not changed

In [10]:
bacon = 22 
bacon=bacon + 1
print(bacon)

23

# 7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [11]:
'spam' + 'spamspam'

'spamspamspam'

In [12]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
A variable name must start with a letter or the underscore character
Thats why 100 is invalid.
eggs is a valid variable.

In [13]:
eggs=10
print(eggs)

10

In [14]:
100='python'

SyntaxError: cannot assign to literal (Temp/ipykernel_7748/2823900786.py, line 1)

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:

    int() - constructs an integer number 
    float() - constructs a float number
    str() - constructs a string

In [15]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [16]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0

In [17]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [18]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [ ]:
This error occurs when we try to adding (concatenating) an integer to a string
This can be fixed by converting 99 into string by str(99)

In [19]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'